//fonts
$open-sans: "Open Sans", "Arial", sans-serif;
$open-sans-bold: "Open Sans Bold", "Gadget", sans-serif;
$open-sans-semibold: "Open Sans Semibold", "Gadget", sans-serif;
$open-sans-light: "Open Sans Light", "Tahoma", sans-serif;

//colors
$black: #000000;
$white: #ffffff;
$dark-blue-more: #1d2631;
$dark-blue: #283645;
$light-gray-background: #f2f2f2;
$light-gray-freme: #e5e5e5;
$pink: #d22856;
$green-button: #2aab6d;
$green-button-hover: #1c9b5e;

//window width
$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;
