.slider__toggle{
  background: url("../../img/shape.png") no-repeat;
  height: 12px;
  width: 12px;
  border: none;
}
.slider__prev{
  background: url("../../img/left-arrow.svg.png") no-repeat;
  height: 41px;
  width: 22px;
  border: none;
}
.slider__next{
  background: url("../../img/right-arrow.svg.png") no-repeat;
  height: 41px;
  width: 22px;
  border: none;
}
